#page {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Faz a página ocupar a tela toda e centralizar o conteúdo */
    min-height: 100vh;

    /* Padding menor para não esmagar os elementos */
    padding: 2rem;

    /* Garante que o fundo do body apareça através desta div */
    background: transparent;

    & > header {
        width: 100%;
        max-width: 75rem; /* Limite de largura do Figma */
        margin-bottom: 2rem; /* Espaço após o logo */

        display: flex;
        justify-content: flex-start;
    }

    & > main {
        flex: 1; /* Ocupa o espaço central */
        width: 100%;
        max-width: 75rem; /* Mantém alinhado com o header */

        display: flex;
        align-items: center; /* Centraliza verticalmente o sorteador */
        justify-content: space-between; /* Texto na esquerda, Form na direita */
        gap: 2rem;
    }
}

@media (width <= 80em) {
    #page {
        padding: 2.25rem 2.75rem;
        
        & > header {
            justify-content: center;

            & > div {
                margin-bottom: 2.875rem;
            }
        }

        & > main {
            flex-direction: column;
            align-items: center;
            gap: 0;
        }
    }
}
