.button-border {
    display: flex;
    position: relative;
    padding: 2px;
    transition: all 300ms ease-in-out;

    & .btn-primary {
        appearance: none;
        all: unset;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        width: 100%;
        padding: 1rem;

        font: var(--label-medium);
        color: var(--content-primary);
        background: var(--background-tertiary);
        text-transform: uppercase;

        border-radius: .5rem;

        transition: all 250ms ease-in-out;
    }

    &:hover::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: .5rem;
        background-position: 100% 50%;
        z-index: -1;

        background: var(--gradient-border);
        background-size: 400%;
        background-position: 0 50%;

        animation: bg-gradient 4s ease infinite;
    }

    &:hover {
        & .btn-primary {
            background: var(--background-secondary);

            & > img[alt="arrow-right"] {
                transform: translateX(-1px);
                animation: arrowAnimation 2500ms ease-in-out infinite;
            }
        }
    }
}

@keyframes bg-gradient {
    50% {
        background-position: 100% 50%;
    }
}

@keyframes arrowAnimation {
    0%, 100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }
}